<%= form_with model: genre, url: admins_genre_path, local: true do |form| %>
  <% if genre.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(genre.errors.count, "error") %> prohibited this genre from being saved:</h2>

      <ul>
      <% genre.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :genre_name %>
    <%= form.text_field :genre_name %>
  </div>
  <div class="field">
    <%= form.attachment_field :genre_image %>
  </div>

  <div class="field">
    <%= form.radio_button :is_valid ,true %>
    <%= label_tag :is_valid, "有効" %>
    <%= form.radio_button :is_valid ,false %>
    <%= label_tag :is_vaild,"無効" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
