<h1>参加中イベントページ</h1>
<div class="container m-mainlist-main col-xs-12">
  <ul class = "m-mainlist-list">
  <% @join_events.each do |join_events| %>
    <li class="container m-mainlist__item">
      <div class="m-mainlist-item">
        <a>
          <span class="m-mainlist-item__ttl"><%= join_events.event.events_name %></span>
        </a>
        <p class="m-mainlist-item-event__period">
        <span class="m-mainlist-item-event__open">
          <% if join_events.event.event_status==true %>
                  開催予定
                  <% else %>
                  終了
                  <% end %>
        </span>
          開催日：<%= join_events.event.holding %>
        </p>
        <div class="m-mainlist-item__link">
          <p class="m-mainlist-item-event__place"><h3 class="m-mainlist-item-event__placelink">主催者/<%= join_events.event.user.family_name %><%= join_events.event.user.first_name %></h3></p>
          <p class="m-mainlist-item-event__place"><h3 class="m-mainlist-item-event__placelink">参加費/<%= join_events.event.entrance_fee %>円</h3></p>
          <p class="m-mainlist-item-event__place"><h3 class="m-mainlist-item-event__placelink">参加人数/<%= join_events.event.persons %>中<%= join_events.event.join_events.length %>人参加</h3></p>
          <%= link_to '詳細', join_events.event,class:"btn btn-primary center-block" %>
        </div>

        <div class="m-mainlist-item__link">
          <h4 class="m-mainlist-item__txt"><%= join_events.event.description %></h4>
          <p class="m-mainlist-item__map"><a class="m-mainlist-item__maplink"><%= join_events.event.prefecture_code %></a>
            <%= join_events.event.address_city %>
          </p>
          <p class="m-mainlist-item-event__place"><a class="m-mainlist-item-event__placelink"><%= join_events.event.address_street %></a></p>
          <p class="m-mainlist-item-event__place"><a class="m-mainlist-item-event__placelink">ジャンル：<%= join_events.event.genre.genre_name %></a></p>
        </div>
        <a class="m-mainlist-item__img">
          <span><%= attachment_image_tag(join_events.event.genre, :genre_image, :fill, 160, 160, fallback: "no_image.jpg") %></span>
        </a>
      </div>
    </li>
  <% end %>
  </ul>
</div>