<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  <%= form.label :ジャンル %>
  <%= form.collection_select(:genre_id, Genre.where(is_valid: true), :id, :genre_name) %>
  </div>

  <div class="field">
    <h4>イベント名</h4>
    <%= form.text_field :events_name, :size=>"30",style: "border:double" %>
  </div>

  <div class="field">
    <h4>開催日</h4>
    <%= form.date_field :holding,style: "border:double" %>
  </div>

  <div class="field">
    <h4>参加費</h4>
    <%= form.text_field :entrance_fee,style: "border:double" %>
  </div>

  <div class="field" style="margin-top: 10px;">
    <h4>人数</h4>
    <%= form.number_field :persons,style: "border:double" %>
  </div>

  <div class="field" style="margin-top: 10px;">
    <h4>説明文</h4>
    <%= form.text_area :description, :size=>"60x5",style: "border:double" %>
  </div>

  <div class="field" style="margin-top: 10px;">
    <%= form.label :開催 %>
    <%= form.select :event_status,[["有効",true],["無効",false]] %>
  </div>

  <h2>開催地</h2>
  <p>郵便番号</p>
  <%= form.text_field :postcode,style: "border:double" %>
  <p>都道府県</p>
  <%= form.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :name, :name %>
  <p>市町村</p>
  <%= form.text_field :address_city,style: "border:double" %>
  <p>番地</p>
  <%= form.text_field :address_street,style: "border:double" %>
  <p>施設名</p>
  <%= form.text_field :address_building,style: "border:double" %>


  <div class="actions">
    <%= form.submit"更新する" ,class:"btn btn-primary" %>
  </div>
<% end %>
