<h2 style="font-size:60px;">掲示板</h2>

<div class="comment-destroy">
  <%= link_to 'イベントページに戻る', @event,class:"btn btn-primary btn-lg" %>
</div>
<div style="padding: 50px 10px 80px 10px;">
  <%= form_for @bulletin_board, url: event_bulletin_boards_path(@event), method: :post, remote: true do |f| %>
    <div class="row">
        <div class="col-sm-12">
            <%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "参加メンバーでの情報共有" %>
        </div>
    </div>
    <%= f.submit "送信する", class: "btn btn-default btn-lg btn-base-1 mt-20 pull-right"%>
  <% end %>
</div>
<div>
  <table id="js-table-bulletin_board" class="table" >
    <% @event.bulletin_boards.each do |bulletin_board| %>
          <%= render "bulletin_boards/comment",{bulletin_board:bulletin_board, user:@user, event:@event} %>
      <% end %>
  </table>
</div>