<div class="main-visual">
  <div class="main-visual-content">
    <p class="main-visual-text" style="font-size: 800%;">
      shummit
    </p>
    <p class="main-visual-name" style="font-size: 250%;margin-top:100px;margin-left:75px;text-align: left;">
      新しい趣味に
    </p>
    <p class="main-visual-name" style="font-size: 250%;margin-top: 20px;margin-left:55px;">
      新しい自分を見つける
    </p>
  </div>
</div>
<p id="notice"><%= notice %></p>
<div class="containe"><h2>イベント一覧</h2></div>
<div class="container m-mainlist-main col-xs-12">
  <ul class = "m-mainlist-list">
  <% @events.each do |event| %>
    <li class="container m-mainlist__item">
      <div class="m-mainlist-item">
        <a>
          <span class="m-mainlist-item__ttl"><%= event.events_name %></span>
        </a>
        <p class="m-mainlist-item-event__period">
        <span class="m-mainlist-item-event__open">
          <% if event.event_status==true %>
                  開催予定
                  <% else %>
                  終了
                  <% end %>
        </span>
          開催日：<%= event.holding %>
        </p>
        <div class="m-mainlist-item__link">
          <p class="m-mainlist-item-event__place"><h3 class="m-mainlist-item-event__placelink">主催者/<%= event.user.family_name %><%= event.user.first_name %></h3></p>
          <p class="m-mainlist-item-event__place"><h3 class="m-mainlist-item-event__placelink">参加費/<%= event.entrance_fee %>円</h3></p>
          <p class="m-mainlist-item-event__place"><h3 class="m-mainlist-item-event__placelink">参加人数/<%= event.persons %>中<%=event.join_events.length %>人参加</h3></p>
          <%= link_to '詳細', event,class:"btn btn-primary center-block" %>
        </div>

        <div class="m-mainlist-item__link">
          <h4 class="m-mainlist-item__txt"><%= event.description %></h4>
          <p class="m-mainlist-item__map"><a class="m-mainlist-item__maplink"><%= event.prefecture_code %></a>
            <%= event.address_city %>
          </p>
          <p class="m-mainlist-item-event__place"><a class="m-mainlist-item-event__placelink"><%= event.address_street %></a></p>
          <p class="m-mainlist-item-event__place"><a class="m-mainlist-item-event__placelink">ジャンル：<%= event.genre.genre_name %></a></p>
        </div>
        <a class="m-mainlist-item__img">
          <span><%= attachment_image_tag(event.genre, :genre_image, :fill, 160, 160, fallback: "no_image.jpg") %></span>
        </a>
      </div>
    </li>
  <% end %>
  </ul>
</div>
    <%= paginate @events, class: "paginate" %>