<h1>イベント参加者ページ</h1>
<p>日付</p>
<p>
  <strong>主催者</strong>
  <%= @event.user.family_name %><%= @event.user.first_name %>
</p>

<p>
  <strong>ジャンル</strong>
  <%= @event.genre.genre_name %>
</p>

<p>
  <strong>イベント名</strong>
  <%= @event.events_name %>
</p>

<p>
  <strong>参加費</strong>
  <%= @event.entrance_fee %>
</p>

<p>
  <strong>スポーツ</strong>
  <%= @event.sportst %>
</p>

<p>
  <strong>参加人数</strong>
  <%= @event.persons %>
</p>

<p>
  <strong>イベントステータス</strong>
  <%= @event.event_status %>
</p>